label {
  font-size: 18px;
}

.lab_links{
    position: relative;
    display: flex;
}

.module-title{
    display: flex;
    margin-top: 1.2rem;
}

.module-title:first-of-type{
  margin-top: 0rem;
}

.inner-module-title, 
.inner-module-button,
.new-course-button,
.add-lab-button{
    margin: auto;
}

.inner-module-button{
    cursor: pointer;
    background-color: var(--aqua);
    border-radius: 10px;
    padding-left: .5rem;
    padding-right: .5rem;
    margin-bottom: 1rem;
}

#admin-subheader {
  padding: 0px;
  margin: 0px;
}

.content__sub {
  display: flex;
}

.new-course-button {
  width: 15%;
  padding: .5rem;
  text-align: center;
  background-color: var(--aqua);
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

.add-lab-button {
  width: 15%;
  padding: .5rem;
  text-align: center;
  background-color: var(--aqua);
  cursor: pointer;
  border-radius: 10px;
  font-size: 12px;
}

.new-lab-container {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 2rem;
}

.parent-lab-container {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.lab-input-container {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 1rem;
}

.lab-input-container input {
  flex: 1;
}

.lab-input-header {
  display: flex;           
  justify-content: center;  
  align-items: center;      
  flex-direction: column;
  margin: auto;            
  width: 50%;   
  margin-bottom: 1rem;
}

.add-lab-elem-button{
  width: 15%;
  padding: .5rem;
  text-align: center;
  margin: auto;
  border-radius: 10px;
  font-size: 15px;
}

.del-lab-button{
  cursor: pointer;
}

.blueButton{
  background-color: var(--aqua);
  cursor: pointer;
}
