label {
  font-size: 18px;
}

.lab_links{
    position: relative;
    display: flex;
}

.module-title{
    display: flex;
}

.inner-module-title, 
.inner-module-button{
    margin: auto;
}

.inner-module-button{
    cursor: pointer;
    background-color: var(--pink);
    border-radius: 10px;
    padding: 1rem;
}

.new-lab-container {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.parent-lab-container {
  display: flex;
  flex-wrap: wrap;
  gap: .8rem;
}

.lab-input-container {
  display: flex;
  align-items: center;
  width: 48%;
  margin-bottom: 1rem;
}

.lab-input-container input {
  flex: 1;
}

.lab-input-header {
  display: flex;           
  justify-content: center;  
  align-items: center;      
  flex-direction: column;
  margin: auto;            
  width: 50%;   
  margin-bottom: 1rem;
}

.add-lab-elem-button{
  width: 15%;
  text-align: center;
  margin: auto;
  background-color: var(--pink);
}
