.lab_links{
    position: relative;
    display: flex;
}

.module-title{
    display: flex;
}

.inner-module-title, 
.inner-module-button{
    margin: auto;
}

.inner-module-button{
    cursor: pointer;
    background-color: pink;
    border-radius: 10px;
    padding: 1rem;
}

.parent-lab-container {
  display: flex; /* Align children horizontally */
  flex-wrap: wrap; /* Allow wrapping if there isn't enough space */
  gap: 10px; /* Space between items */
}

.lab-input-container {
  display: flex;
  align-items: center;
  width: 48%; /* Adjust as needed for spacing and alignment */
}

.lab-input-container label {
  margin-right: 10px; /* Space between label and input */
  white-space: nowrap; /* Prevent label from wrapping */
}

.lab-input-container input {
  flex: 1; /* Allow input to take up the remaining space */
}
